<html><head><title>banner ad</title><style>#escargot_logo { position:relative; top:0.6em; }</style></head>
<body bgcolor="#3498db" scroll="no" topmargin="0" leftmargin="0">
<center>
<!-- SpaceID={{ spaceid }} -->

<img src="img/escargot_alt_logo.png" id="escargot_logo" width="150" height="40">
</center>
</body>
</html>





