<html><head><title>banner ad</title><style>#escargot_logo {
	position: absolute;
	font-family: Verdana, Arial sans-serif;
	color: white;
	font-size: 14px;
	text-align: center;
	top: 35%;
	left: 4%;
}</style></head>
<body bgcolor="#3498db" scroll="no" topmargin="0" leftmargin="0">
<!-- SpaceID={{ spaceid }} -->

<div id="escargot_logo">
<img src="img/escargot_alt_logo.png" width="150" height="40"><br/>
Yahoo! Chat isn't implemented right now, but we're working on a chat frontend that might support this platform. Keep an eye out.
</div>
</body>
</html>





